.hand {
  display: flex;
  gap: 10px;
}

.domino {
  padding: 10px;
  border: 1px solid #333;
  background-color: #fff;
  cursor: pointer;
}

.domino.valid {
  background-color: #aaffaa;
  cursor: pointer;
  font-size: xx-large;
}
